<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" class="form-control" />
    <br />
    <label for="post">Post</label>
    <textarea
      name="post"
      id="post"
      cols="40"
      rows="5"
      class="form-control"
    ></textarea>
    <br />
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </div>
</form>

<%- include("partials/footer"); -%>
